*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #0B1D26;
    background-image: url('./img6/h1.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    color: aliceblue;
}

.container-wide {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.container {
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/*Header*/

.header {
    padding-top: 65px;
    padding-bottom: 840px;
}

.nav-wrapper {
    margin-bottom: 100px;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.nav {
    font-weight: 700;
    font-size: 18px;
}
.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav li + li {
    margin-left: 40px;
}
.nav a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.2s ease-in;
}
.nav a:hover {
    color: #FBD784;
}
.account {
    font-size: 17;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.2s ease-in;
}
.account:hover {
    color: #FBD784;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    /*padding-left: 15px;*/
    padding-right: 15px;
    text-decoration: none;
}

.hero-category {
    margin-bottom: 32px;
    padding-left: 104px;
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    
}

.hero-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}



.hero-title {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 88px;
    line-height: 1.136;
    color: aliceblue;
}

.hero-scroll {
    position: relative;
    padding-right: 32px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: aliceblue;
}

/*Article*/

.article {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}

.article-text {
    position: relative;
    max-width: 780px;
    padding-left: 150px;

}

.article-text::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.article-subtitle {
    margin-bottom: 32px;
    padding-left: 96px;
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.article-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.article-title {
    margin-bottom: 27px;
    max-width: 555px;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: aliceblue;
    margin-bottom: 27px;
}

.article-text p {
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: aliceblue;
}

.article-read-more {
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
}

.article-img {
    
}

/*Footer*/

.footer {
    padding-bottom: 120px;
}

.footer-row {

}

.container {
}
.footer-copyright {
    display: flex;
    flex-direction: column;
}
.footer-copyright-logo {
    margin-bottom: 24px;
}

.logo {
}
.footer-copyright-desc {
    max-width:300px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: aliceblue;
}
.footer-copyright-terms {
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: aliceblue;
    opacity: 0.5;
}

.footer-nav-wrapper {
    display: flex;  
}

.footer-nav + .footer-nav {
    margin-left: 212px;
}

.footer-nav {
    max-width: 200px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: aliceblue;
}

.footer-nav-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: -16px;
}

.footer-nav li {
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.footer-nav a {
    color: aliceblue;
    text-decoration: none;
}


